#board {
    display: grid;
    grid-template-columns: repeat(3, 2em);
    grid-auto-rows: 2em;
    text-align: center;
  }
  
  .scores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }